@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 255, 255, 255;
  --background-start-rgb: 0, 0, 0;
  --background-end-rgb: 0, 0, 0;
}

html {
  overflow-x: hidden;
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(to bottom,
      transparent,
      rgb(var(--background-end-rgb))) rgb(var(--background-start-rgb));
  margin: 0;
  padding: 0;
  font-family: 'Times New Roman', Times, serif;
  /* Elegant serif font as base */
  overflow-x: hidden;
}

/* Custom scrollbar for a premium feel */
::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-track {
  background: #000;
}

::-webkit-scrollbar-thumb {
  background: #c5a059;
  /* Gold color */
  border-radius: 4px;
}

::-webkit-scrollbar-thumb:hover {
  background: #d4af37;
}